<div [class]="this.task.new ? 'task new-task' : this.hasChanged ? 'task changed-task' :'task'">
    <p-button icon="pi pi-times" (onClick)="task.new ?  deleteNewTask() : openDeleteConfirmDialog()" />

    <div class="task-name">
        @if(editingName) {
        <input type="text" pInputText [(ngModel)]="task.name" (change)="onNameChange()"/>
        <p-button icon="pi pi-check" (onClick)="toggleEditingName()"/>
        } @else {
        <h3>{{task.name}}</h3>
        <p-button icon="pi pi-pencil" (onClick)="toggleEditingName()" />
        }
    </div>

    <div class="task-metrics">
        @for (metric of task.metrics; track $index) {
        <div class="task-metric">
            <div class="task-metric-slider">
                <label [for]="metric.name">{{ metric.name }}</label>
                <p-inputnumber [(ngModel)]="metric.weight" [min]="0" [max]="10" />
                <p-slider [(ngModel)]="metric.weight" [step]="1" [min]="0" [max]="10" />
            </div>
            <p-button icon="pi pi-trash" (onClick)="removeMetric(metric)" />
        </div>
        }
    </div>

    @if(unusedMetrics.length) {
    <div>
        <p-select [options]="unusedMetrics" [(ngModel)]="selectedMetric" optionLabel="name"
            placeholder="Select a metric" />
        <p-button icon="pi pi-plus" (onClick)="addMetric()" />
    </div>
    }

    <p-button icon="pi pi-save" (onClick)="save()" />
</div>
<p-confirmdialog />