<div>
    <p>
        Rewards tutorial!
    </p>
    <p>
        Here are some default rewards. You can already edit or delete them or even create new ones! 
    </p>
    <p>
        Don't worry, you will be able to change them in the future from the settings menu.
    </p>
    
    <app-edit-rewards></app-edit-rewards>

    <div>
        <button pButton label="Previous step" class="p-button-primary" (click)="onPreviousStep()"></button>
        <button type="submit" pButton label="Next step" class="p-button-primary" (click)="onNextStep()"></button>
    </div>
</div>