<div class="header">
    <div class="col-md-4">
        <div class="btn-group">
            <p-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" label="Previous" />
            <p-button class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" label="Today" />
            <p-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" label="Next" />
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <p-selectbutton [options]="calendarView" [(ngModel)]="view" [allowEmpty]="false" />
    </div>
</div>
<br />

<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-day-view>
</div>