@if(form) {<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
   <!-- TASK -->
   <div class="p-field">
      <label for="member">Member</label>
      <p-select id="member" formControlName="member" [options]="members" optionLabel="name" appendTo="body"
         dataKey="id"></p-select>
      @if (form.get('member')?.invalid && form.get('task')?.touched) {
      @if(form.get('member')?.errors?.['required']) {<small class="p-error">You must select a member.</small>
      }
      }
   </div>

   <!-- TASK -->
   <div class="p-field">
      <label for="task">Task</label>
      <p-select id="task" formControlName="task" [options]="tasks" optionLabel="name" appendTo="body"
         dataKey="id"></p-select>
      @if (form.get('task')?.invalid && form.get('task')?.touched) {
      @if(form.get('task')?.errors?.['required']) {<small class="p-error">You must select a task.</small>
      }
      }
   </div>

   <!-- START -->
   <div class="p-field">
      <label for="start">Start</label>
      <p-datePicker id="start" formControlName="start" appendTo="body" styleClass="w-12" [showTime]="true"
         [hourFormat]="'24'" dateFormat="dd/mm/yy" [minDate]="new ? now : undefined"></p-datePicker>
      @if (form.get('start')?.invalid && form.get('start')?.touched) {
      @if(form.get('start')?.errors?.['required']) {<small class="p-error">A starting date/time is required.</small>
      }
      }
   </div>

   <!-- END -->
   <div class="p-field">
      <label for="end">End</label>
      <p-datePicker id="end" formControlName="end" appendTo="body" styleClass="w-12" [showTime]="true"
         [hourFormat]="'24'" dateFormat="dd/mm/yy" [minDate]="now"></p-datePicker>
   </div>

   <!-- POINTS -->
   @if(userService.family?.settings?.rewards || userService.family?.settings?.leaderboard){
   <div class="p-field">
      <label for="points">Points</label>
      <p-inputnumber id="points" formControlName="points" [min]="0" />
      @if (form.get('points')?.invalid && form.get('points')?.touched) {
      @if(form.get('points')?.errors?.['required']) {<small class="p-error">Points are required.</small>
      }
      @if(form.get('points')?.errors?.['min']) {<small class="p-error">Points must be 0 or more.</small>
      }
      }
   </div>
   }

   <!-- Toggle recurrence -->
   <div class="p-field">
      <label for="is-recurrent">Recurrent task?</label>
      <p-toggleswitch id="is-recurrent" (onChange)="toggleRecurrence()" [(ngModel)]="isRecurrent"
         [ngModelOptions]="{standalone: true}" />
   </div>

   <!-- RECURRENCE -->
   @if(isRecurrent) {
   <div class="p-field">
      <label for="recurrence">Recurrence</label>
      <p-select id="recurrence" formControlName="recurrence" [options]="recurrenceTypes" optionLabel="name"
         appendTo="body" dataKey="id"></p-select>
   </div>

   <div class="p-field">
      <label for="recurrenceEnd">Recurrence End</label>
      <p-datePicker id="recurrenceEnd" formControlName="recurrenceEnd" appendTo="body" styleClass="w-12" [showTime]="true"
         [hourFormat]="'24'" dateFormat="dd/mm/yy" [minDate]="new ? now : undefined"></p-datePicker>
      @if (form.get('recurrenceEnd')?.invalid && form.get('recurrenceEnd')?.touched) {
      @if(form.get('recurrenceEnd')?.errors?.['required']) {<small class="p-error">A recurrence end is required.</small>
      }
      }
   </div>}

   <button type="submit" pButton label="Submit" class="p-button-primary" [disabled]="form.invalid || sending"></button>
</form>}