<div class="my-tasks">
    <h1>My tasks</h1>
    <div class="announces">
        <span> You have {{ pendingTasks.length }} pending task{{pendingTasks.length > 1 ? 's' : '' }} assigned to
            you.</span>
        @if(!pendingTasks.length) { <span>Congratulations, you're all done for now! </span>}
        @if(lateTasks.length) {<span class="late-tasks"> You have {{ lateTasks.length }} late task{{lateTasks.length > 1
            ? 's' : '' }}
            assigned to you. Hurry up and do it!</span>}
    </div>

    <p-tabs value="1">
        <p-tablist>
            <p-tab value="0">Table</p-tab>
            <p-tab value="1">Calendar</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-my-tasks-table [tasks]="assignedTasks" (onCompleteTask)="completeTask($event)"></app-my-tasks-table>
            </p-tabpanel>
            <p-tabpanel value="1">
                @if(assignedTasks.length > 0){<app-my-tasks-calendar [tasks]="assignedTasks" (onCompleteTask)="completeTask($event)"></app-my-tasks-calendar>}
                @else {
                    <div>No tasks assigned yet.</div>
                }
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>


<!-- OLD CODE IN CASE OF NEED -->
<!-- @if(assignedTasks.length) {
<div>
    @for(task of assignedTasks; track $index) {
    <app-assigned-task [task]="task"></app-assigned-task>
    }
</div>
} -->