<div>
    <p>
        Task tutorial!
    </p>
    <p>
        Here are some default tasks. You can already edit or delete them or even create new ones! 
    </p>
    <p>
        Don't worry, you will be able to change them in the future from the settings menu.
    </p>

    <div class="tasks">
        @for(task of tasks; track $index) {
            <app-task [task]="task" (onDelete)="refreshTasks()"></app-task>
        }
        <p-button icon="pi pi-plus" (onClick)="addTask()" />
    </div>
</div>