@if(!userService.member) {
    <app-user-selection (onUserSelection)="userSelected($event)"></app-user-selection>
}
@else {
<div>
    <div>
        <h2>Welcome {{userService.member.name}}!</h2>
    </div>
    <div>
        You have {{ assignedTasks.length }} task{{assignedTasks.length > 1 ? 's' : '' }} assigned to you.
        @if(!assignedTasks.length) { Congratulations, you're all done for now! }
    </div>
    @if(assignedTasks.length) {
    <div>
        @for(task of assignedTasks; track $index) {
            <app-assigned-task [task]="task"></app-assigned-task>
        }
    </div>
    }
</div>
}