<p-table [value]="tasks">
    <ng-template #header>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            @if(usesPoints){<th>Points</th>}
            <th>Completion</th>
        </tr>
    </ng-template>
    <ng-template #body let-taskList>
        <tr>
            <td [ngClass]="taskList.status" class="task">{{ taskList.task.name }}</td>
            <td>{{ taskList.start | date:'short':'':'fr-FR' }}</td>
            <td>{{ taskList.end | date:'short':'':'fr-FR' }}</td>
            @if(usesPoints){<td>{{ taskList.points }}</td>}
            <td>
                <!-- TODO: expand subrows -->
                @for(assignedTask of taskList.assignedTasks; track $index) {
                    {{assignedTask.start | date:'short':'':'fr-FR' }} - 
                @if(!assignedTask.completedAt){<p-button label="Complete" [disabled]="sendings[assignedTask.id]"
                    (onClick)="completeTask(assignedTask)"></p-button>}
                @else{
                {{ assignedTask.completedAt | date:'short':'':'fr-FR' }}
                }
                }
            </td>
        </tr>
    </ng-template>
</p-table>