<p-table [value]="members" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
    <ng-template #caption>
        <div class="flex flex-wrap justify-end gap-2">
            <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
            <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 5rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
            <th># of tasks</th>
            <th style="width: 5rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-member let-expanded="expanded">
        <tr>
            <td>
                <p-button type="button" pRipple [pRowToggler]="member" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td>{{ member.name }}</td>
            <td>{{ member.taskLists.length }}</td>
            <td><p-button label="Assign task" (onClick)="openTaskAssignmentModal(member)"></p-button></td>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-member>
        <tr>
            <td colspan="7">
                <div class="p-4">
                    <h5>Tasks for {{ member.name }}</h5>
                    <p-table [value]="member.taskLists" dataKey="id">
                        <ng-template #header>
                            <tr>
                                <th pSortableColumn="task.name">Name <p-sortIcon field="task.name" /></th>
                                <th style="width: 4rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-taskList>
                            <tr>
                                <td>{{ taskList.task.name }}</td>
                                <td><p-button type="button" icon="pi pi-pencil" /></td>
                                <!-- TODO: allow editing of tasklist -->
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="6">There are no tasks assigned to this household member yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>