.body {
    display: flex;
    flex-direction: row;
    width: 100vw;

    @sidebar-width: 70px;

    .sidebar {
        position: fixed;
        width: @sidebar-width;
    }

    .main-content {
        transition-duration: 200ms;
        padding-left: @sidebar-width;
        width: 100%;

        .middle {
            min-height: calc(100vh - 60px);
        }
    }
}