.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);

    app-nav-bar {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
        position: fixed;
        margin-top: calc(50vh - 240px); // TODO: find a way to adapt to the nav-bar height
    }

    .left-hidden {
        transform: translate(-80px)
    }
}