<div [class]="'nav-bar ' + (expand  ? 'expand' : '')">
    <div class="bar">
        <div class="icon">
            <div class="icon-background">
                <i [class]="'pi pi-bars ' + (expand ? 'rotate' : '')" (click)="toggleNavBar()"></i>
            </div>
            
        </div>
        <nav [class]="'primnav ' + (expand ? 'expand' : '')">
            <ul>
                @for(item of navBarItems; track $index) {
                    <li nav-bar-item [item]="item" [iconOnly]="!expand" class="nav-bar-item"></li>
                }
            </ul>
        </nav>
    </div>
    <div class="footer">v1.0.0</div>
</div>


