.nav-bar-item {
    background-color: hsla(0, 0%, 97%, 0.2);
    height: 5em;
    width: 5em;
    display: flex;
    border: rgba(85, 85, 85, 0.603) 2px solid;

    &:first-child {
        border-top-right-radius: 1em;
    }

    &:last-child {
        border-bottom-right-radius: 1em;
    }
}