@expandedWidth: 300px;

.nav-bar {
    height: 100vh;
    background-color: rgba(60, 60, 60, .9);
    width: 100%;
    transition: width 246ms .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.expand {
        width: @expandedWidth;
    }

    .bar {
        .icon {
            @totalPadding: 16px;
            @percentPaddingBackground: .5;
            padding: (@totalPadding * @percentPaddingBackground);
            @hover-background-color: rgba(32, 32, 32);
            height: 72px;
            width: 72px;
            align-items: center;
            justify-content: center;
            display: flex;

            .icon-background {
                height: 40px;
                width: 40px;
                padding: (@totalPadding * (1 - @percentPaddingBackground));

                &:hover {
                    background-color: @hover-background-color;
                    border-radius: 50px;
                }

                i {
                    font-weight: bold;
                    font-size: 1.5em;
                    cursor: pointer;
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
                    height: 1em;
                    width: 1em;

                    &.rotate {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .primnav {
            height: 58px;
            width: 100vw;
            transition: height 246ms .5s ease;

            position: fixed;
            font-size: .8em;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: hidden;
            box-sizing: border-box;
            z-index: 1;

            @media (min-width: 650px) {
                height: 100vh;
                width: 70px;
                transition: width 246ms .5s ease;
            }
  
            > ul {
              height: 100%;
              overflow-y: auto;
              overflow-x: hidden;
              padding-inline-start: 0;
            }

            &.expand {
                height: 100vh;

                @media (min-width: 650px) {
                    width: @expandedWidth;
                }
            }

            .nav-bar-item {
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
                width: 100%;
                display: flex;
            }
        }
    }

    .footer {
        padding: 1rem;
    }
}