<div>
    <div>
        <h2>The {{ family?.displayName }} household</h2>
    </div>
    <div>
        <h3>Members (so far):</h3>
        <ul>
            @for(member of family?.members; track $index) {
            <li>{{member.name}}</li>
            }
        </ul>
    </div>

    <div>
        <h3>Tasks:</h3>
        <ul>
            @for(task of tasks; track $index) {
            <li>{{task.name}}</li>
            }
        </ul>
    </div>

    <div>Leaderboard is <b>{{ family?.settings?.leaderboard ? 'enabled' : 'disabled' }}</b>.</div>

    <div>Rewards are <b>{{ family?.settings?.rewards ? 'enabled' : 'disabled' }}</b>.</div>

    @if(family?.settings?.rewards) {
    <div>
        <h3>Rewards:</h3>
        <ul>
            @for(reward of rewards; track $index) {
            <li>{{reward.name}}</li>
            }
        </ul>
    </div>
    }

    <div>
        <button pButton label="Previous step" class="p-button-primary" (click)="onPreviousStep()"></button>
        <button pButton label="Finish Configuration" class="p-button-primary"
            (click)="finalizeConfiguration()"></button>
    </div>

</div>