@switch (currentStep) {
    @case (0) {
        <app-configure-first-member (nextStep)="nextStep(1)"></app-configure-first-member>
    }
    @case (1) {
        <app-configure-household-type (nextStep)="nextStep(2)"></app-configure-household-type>
    }
    @case (2) {
        <app-configure-create-tasks (nextStep)="nextStep(3)"></app-configure-create-tasks>
    }
    @case (3) {
        <app-configure-leaderboard (nextStep)="nextStep(4)"></app-configure-leaderboard>
    }
    @case (4) {
        <app-configure-rewards (nextStep)="nextStep(5)"></app-configure-rewards>
    }
    @case (5) {
        <app-configure-summary (nextStep)="nextStep(6)"></app-configure-summary>
    }
}