<div class="configurator">
    @switch (currentStep) {
    @case (0) {
    <app-configure-first-member (nextStep)="changeStep(1)" class="configurator-step"></app-configure-first-member>
    }
    @case (1) {
    <app-configure-household-type (nextStep)="changeStep(2)"
        (previousStep)="changeStep(0)"></app-configure-household-type>
    }
    @case (2) {
    <app-configure-create-tasks (nextStep)="changeStep(3)" (previousStep)="changeStep(1)"></app-configure-create-tasks>
    }
    @case (3) {
    <app-configure-leaderboard (nextStep)="changeStep(4)" (previousStep)="changeStep(2)"></app-configure-leaderboard>
    }
    @case (4) {
    <app-configure-rewards (nextStep)="changeStep(5)" (previousStep)="changeStep(3)"></app-configure-rewards>
    }
    @case (5) {
    <app-configure-summary (nextStep)="changeStep(6)" (previousStep)="changeStep(4)"></app-configure-summary>
    }
    }
</div>