@vignetteSize: 7rem;

.vignette {
  display: flex;
  width: @vignetteSize;
  height: @vignetteSize;
  border-radius: @vignetteSize;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: x-large;

  .name {}

  &:hover {
    color: white;
    cursor: pointer;
    filter: brightness(80%);
    border: 3px solid white; // TODO: check netflix for border
  }

  .edit {
    width: @vignetteSize;
    height: @vignetteSize;
    border-radius: @vignetteSize;
    position: fixed;
    background-color: #8786867a;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #878686ad;

      .icon {
        opacity: 1;
      }
    }

    .pencil-icon {
      opacity: 0.75;
      font-weight: bolder;
      font-size: x-large;
    }
  }
}