<div class="vignette-wrapper">
  <div class="vignette" [style]="{ 'background-color': member.color }" (click)="onUserSelect(member)">
    <span class="name">{{ member.name }}</span>
    @if(edit){
    <div class="edit">
      <i [class]="member ? 'pi pi-pencil icon' : 'pi pi-plus icon'"></i>
    </div>
    }
  </div>
  @if(showPin){<p-inputotp [integerOnly]="true" [mask]="true" [(ngModel)]="pin" (onChange)="checkPin($event)" [autofocus]="true" size="large"/>}
  @if(showErrorMessage){<small class="p-error">
    Whoops, wrong PIN. Please try again.
  </small>}
</div>